:root{
  --ids-color-body-base: #f2f2f7;
  --ids-color-palette-white-10: #f2f2f7;
  --ids-color-palette-slate-10: #f2f2f2;
  --ids-color-palette-slate-20: #dadada;
  --ids-color-palette-slate-30: #d9d9d9;
  --ids-color-palette-slate-40: #cfd0dd;
  --ids-color-palette-slate-50: #b6b7cc;
  --ids-color-palette-slate-60: #acadc1;
  --ids-color-palette-slate-70: #9c9db5;
  --ids-color-palette-slate-80: #8e8fa6;
  --ids-color-palette-slate-90: #737394;
  --ids-color-palette-slate-100: #6f708b;
  --ids-color-palette-slate-dark: #666666;
  --ids-color-palette-amber-50: #facc41;
  --ids-color-palette-turquoise-50: #56e7ce;
  --ids-color-palette-ruby-50: #f1736a;
  --ids-color-palette-emerald-90: #38b6a0;
  --ids-color-palette-emerald-100: #2f9987;
  --ids-color-palette-magneta-90: #454560;
  --ids-color-palette-magneta-100: #26273b;
  --ids-color-palette-cyan-90: #394042;
  --ids-color-palette-blue-100: #26273b 80%;
  --ids-font-family-base: 'Open Sans', sans-serif;
  --ids-size-font-base: 16px;
  --ids-size-font-xs: 14px;
  --ids-size-font-sm: 18px;
  --ids-size-font-md: 22px;
  --ids-size-font-lg: 28px;
  --ids-size-font-xl: 42px;
  --ids-size-font-px-10: 10px;
  --ids-size-font-px-12: 12px;
  --ids-size-font-px-14: 14px;
  --ids-size-font-px-16: 16px;
  --ids-size-font-px-20: 20px;
  --ids-size-font-px-24: 24px;
  --ids-size-font-px-28: 28px;
  --ids-size-font-px-32: 32px;
  --ids-size-font-px-40: 40px;
  --ids-size-font-px-48: 48px;
  --ids-size-font-px-60: 60px;
  --ids-size-font-px-72: 72px;
  --ids-size-icon-height: 17px;
  --ids-size-icon-width: 22px;
  --ids-number-font-weight-light: 300;
  --ids-number-font-weight-base: 400;
  --ids-number-font-weight-bold: 600;
  --ids-number-font-line-height-xs: 1.44;
  --ids-number-font-line-height-sm: 1.5;
  --ids-number-font-line-height-md: 1.45;
  --ids-number-font-line-height-lg: 1.43;
  --ids-number-font-line-height-xl: 1.33;
  --ids-number-opacity-disabled: 0.5;
  --ids-number-spacing-base: 8px;
  --ids-number-border-radius-sm: 2px;
  --ids-number-border-radius-md: 6px;
}
